<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnıOluşturucu</title>
    <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>
    <H1 class="baslik1">Anı Oluşturma yeri</H1>


    <input class="Sınıf" type="text" placeholder="Okul Ve Sınıf Adı Giriniz">

    <button class="AoluşturOnayla" onclick="window.location.href='/cindex'">
    Anıyı Onayla
</button>
    
</body>
</html>