<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MezuniyetAnıları</title>
    <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>


    <H1 class="baslik1">Yıllık Anılarınızı koyabileceğiniz websitemize hoş geldiniz!</H1>


      
      <p class="M1">Bu websitesinde kendi mezuniyet anılarınızı
        saklayabileceksiniz! Aşağıda Mezuniyet anısı oluştur ve Mezuniyet anısına gir adında 2 Buton var Anı oluştur butonuna basarak Anı ıluşturup içine görsel yazı tarih ekleyebilir
         ardından ordaki verilen kod ile tekrardan o Mezuzniyet anısına tekrar geri girebilirsiniz (: </p>


    <img id="Image1" src="/static/Grad.jpg"
     style="display: none;"
     width="700" height="400">

  

    <script>
        setTimeout(function(){
            document.getElementById("Image1").style.display="block";
        },6000)
    </script>




    <button class="Aoluştur" style="margin-top: 60px;" onclick=window.location.href="/bindex">Anı oluştur</button>

    <button class="Agir" style="margin-top:60px" onclick=window.location.href="/endix">Anıya gir</button>

    <hr style="width: 50%; margin: auto;">

</body>
</html>